page-concern{
  #concern  .searchbar-ios {
      padding: 0 8px;
      min-height: 44px;
      border-top: 0.55px solid transparent;
      border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
      background: rgba(0, 0, 0, 0.2);
  }
}
