<ion-header>
  <ion-navbar>
    <ion-title class="title">
      关注朋友
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="concern" style="background:url(assets/images/bg20.jpg);background-size:cover;" >
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list style="border-bottom:0px;padding:8px;" *ngIf="concernUser?.flag">
     <ion-item-sliding  style="border-bottom: 1px solid #ccc;border-radius: 5px; margin-bottom: 10px;">
         <ion-item>
           <ion-avatar item-left>
               <img src="assets/images/{{concernUser.headImg || 'default.jpg'}}">
           </ion-avatar>
           <h2 style="margin:0">{{concernUser.username}}</h2>
           <p>{{concernUser.signature}}</p>
         </ion-item>
         <ion-item-options side="right">
           <button ion-button color="primary" ng-model="concernUser.username" (click)="clickConcern($event,concernUser.username)">
              <ion-icon name="arrow-round-up"></ion-icon>
                 加关注
           </button>
         </ion-item-options>
     </ion-item-sliding>
 </ion-list>
</ion-content>
